@if (Request.IsAuthenticated)
{
    <table id="clientBarTable">
        <tr>
            <td align="left">
                Добро пожаловать <strong>@User.Identity.Name</strong>!
                [ @Html.ActionLink("Выйти", "LogOff", "Account") ]
            </td>
            <td align="right">
                @Html.ActionLink("Создать лот", "Create", "Seller")
                  |  
                @Html.ActionLink("Мои лоты", "MyProducts", "Seller")
            </td>
        </tr>
    </table>
}
else
{
    @:[ @Html.ActionLink("Войти", "LogOn", "Account") ]
}
