@model Nigon.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="@Url.Content("~/Content/fancybox.css")" rel="stylesheet" type="text/css" />
}
<div class="productView">
    <div class="productViewInfo">
        <table id="tableView">
            <caption>Основная информация по лоту</caption>
            <tr>
                <td class="tdRight">Название:</td>
                <td>@Model.products.Name</td>
            </tr>
            <tr>
                <td class="tdRight">Описание:</td>
                <td>@Model.products.Description</td>
            </tr>
            <tr>
                <td class="tdRight">Текущая цена:</td>
                <td>@Model.products.Price</td>
            </tr>
            <tr>
                <td class="tdRight">Лидер:</td>
                <td>@Model.Leader</td>
            </tr>
            <tr>
                <td class="tdRight">Стартовая цена:</td>
                <td>@Model.productView.StartPrice</td>
            </tr>
            <tr>
                <td class="tdRight">Шаг ставки:</td>
                <td>@Model.productView.StepPrice</td>
            </tr>
            <tr>
                <td class="tdRight">Ставок:</td>
                <td>@Model.rate.RateCount</td>
            </tr>
            <tr>
                <td class="tdRight">Осталось до конца торгов:</td>
                <td id="timecountdown"></td>
            </tr>
            <tr>
                <td class="tdRight">Начало торгов:</td>
                <td>@Model.productView.StartOfAuction.ToString("dd/MM/yyyy hh:mm")</td>
            </tr>
            <tr>
                <td class="tdRight">Завершение торгов:</td>
                <td>@Model.productView.EndOfAuction.ToString("dd/MM/yyyy hh:mm")</td>
            </tr>
            <tr>
                <td class="tdRight">Местоположение:</td>
                <td>@Model.productView.Location</td>
            </tr>
        </table>
        <script type="text/javascript">var dt = '@Model.productView.EndOfAuction.ToString("dd-MM-yyyy h:mm:ss tt")';</script>

        @Scripts.Render("~/bundles/scriptsForGalleryFancyBox")
        @Scripts.Render("~/bundles/galleryScript")

        <ul class="gallery">
            @foreach (var p in Model.ImgProducts)
            {
                <li>
                    <a class="fancybox" rel="gallery1" href="@Url.Content(p.PathImg)" title="Twilight Memories (doraartem)">
                        <img width="200" height="200" src="@Url.Content(p.PathImg)" alt=" " />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>    

<div class="assignRate">
    @using (@Html.BeginForm("ProductView", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Ставка: &#8381;</label>@Html.EditorFor(model => model.rate.SumRate, new { @class = "rateField" })
        @Html.HiddenFor(model => model.rate.ProductID, new { Value = Model.products.ProductID })
        @Html.HiddenFor(model => model.productView.ProductViewID)
        @Html.HiddenFor(model => model.rate.RateCount)
        @Html.HiddenFor(model => model.rate.RateID)
        <input type="submit" id="button" value="Сделать ставку" />
        @ViewBag.Message
    }
</div>
@Scripts.Render("~/bundles/countDown")