@model Nigon.Web.Models.AccountModels.AccountModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Смена пароля</h2>
<p>
    Заполните ваши данные.
</p>
<p>
    Пароль должен содержать как минимум @Membership.MinRequiredPasswordLength букв.
</p>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Произошла ошибка. Пожалуйста проверьте введеные данные и попробуйте снова.")
    <div>
        <fieldset>
            <legend>Информация</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Сохранить" />
            </p>
        </fieldset>
    </div>
}
@section Scripts {
    @Html.Partial("JSValidation")
}

